/* Variables */


:root {
  --black: #17252a;
  --white: #feffff;
  --bg-text: #feffff;
  --text: #17252a;
  --background: #feffff;
  --darkbackground: #def2f1;
  --primary: #3aafa9;
  --secondary: #2b7a78;
}


/* || General style */


* {box-sizing: border-box;}

html,
body {
  background: var(--background);
  margin:0;
  padding:0;
  height:100%;
}

#main {
  min-height:100%;
  position:relative;
}

#header {
  padding:0;
}

#body {
  padding:10px;
  padding-bottom:80px;   /* Height of the footer */
}


#footer {
  padding:20px 20px 0px 20px;
  position:absolute;
  bottom:0;
  width:100%;
  height:80px;   /* Height of the footer */
  background: var(--background);
}

#footer a {
  color: var(--text);
  text-decoration: none;
}


/* || Table */


table {
  border-collapse: collapse; /* Merged borders for table cells */
  margin-top: 20px;
  padding-left: 5px;
}

table a {
  text-decoration: none;
  color: var(--text);
}

th,
td {
  border: 1px solid var(--text);
  padding-right: 0.4em;
  padding-left: 0.4em;
  text-align: center;
}

th {
  font-weight: 600;
  color: var(--text);
  background-color: var(--primary);
}

th.sorttable_sorted_reverse,
th.sorttable_sorted {
  background-color: var(--secondary);
}

td {
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: var(--darkbackground);
}


/* || Topnav */


.topnav {
  overflow: hidden;
  background-color: var(--primary);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--text);
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}

/* Change the color for currently active page */
.topnav a.active {
  background-color: red;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--secondary);
}

/* Search bar in topnav */
.topnav .search-container {
  float: right;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  color: var(--text);
  background-color: var(--background);
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: var(--primary);
  color: var(--text);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background-color: var(--secondary);
}

/* Different style for small screens */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type=text],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 2px solid var(--primary);
  }
}

/* || Sidenav */

.sidenav {
  bottom: 0px; /* Stay at the bottom */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  color: var(--text);
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.panel a {
  padding: 3px 3px 3px 10px;
  text-decoration: none;
  font-size: 20px;
  color: var(--black);
  display: block;
  transition: 0.3s;
}

.panel h1 {
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 20px;
  color: var(--black);
  display: block;
  transition: 0.3s;
}


/* On smaller screens, where height is less than 450px, change the style of the
   sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.accordion {
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel .accordion.active {
  background-color: var(--primary);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  color: var(--bg-text);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 4px 4px;
  background-color: var(--black);
  display: none;
  overflow: hidden;
}

.panel .panel {
  padding: 3px 3px;
  background-color: var(--secondary);
  display: none;
  overflow: hidden;
}


